<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
<script src="/static/jquery-3.1.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/app.js"></script>
<link rel="stylesheet" type="text/css" href="/static/app.css">





<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <a href="/"><h1>Home Cinema Masking Control</h1></a>
        </div>
    </div>
    <form method="post">
    <div class="row">
        <div class="col-xs-5">
            <h3>New Program</h3>   
            <span> Adjust the masking independently, then save the program.</span>
            <div class="form-group">
                <label for="identifier">Program Name</label>
                <input class="form-control" type="text" name="identifier" id="identifier">
           </div>
        
           <button type="button" class="btn btn-blue setroller" data-direction="down" data-roller='top'><span class="glyphicon glyphicon-arrow-down"></span> Lower top mask</button>
           <button type="button" class="btn btn-blue setroller" data-direction="up" data-roller='top'><span class="glyphicon glyphicon-arrow-up"></span> Raise top mask</button><br><br>
           <button type="button" class="btn btn-blue setroller" data-direction="up" data-roller='bottom'><span class="glyphicon glyphicon-arrow-up"></span> Raise bottom mask</button>
           <button type="button" class="btn btn-blue setroller" data-direction="down" data-roller='bottom'><span class="glyphicon glyphicon-arrow-down"></span> Lower bottom mask</button><br>
           <br>
                    <h4> Precision Movement</h4>
           <button type="button" class="btn btn-blue setrollerprecise" data-direction="down" data-roller='top'><span class="glyphicon glyphicon-arrow-down"></span> Lower top mask</button>
           <button type="button" class="btn btn-blue setrollerprecise" data-direction="up" data-roller='top'><span class="glyphicon glyphicon-arrow-up"></span> Raise top mask</button><br><br>
           <button type="button" class="btn btn-blue setrollerprecise" data-direction="up" data-roller='bottom'><span class="glyphicon glyphicon-arrow-up"></span> Raise bottom mask</button>
           <button type="button" class="btn btn-blue setrollerprecise" data-direction="down" data-roller='bottom'><span class="glyphicon glyphicon-arrow-down"></span> Lower bottom mask</button><br>
           <br>
           
           <input type="hidden" name="topcounter" id="topcounter"  value=0>
           
           <input type="hidden" name="bottomcounter" id="bottomcounter" value =0>
           <input type="hidden" name="action"  value ="save">
           
           <button class="btn btn-blue" type="submit"><span class="glyphicon glyphicon-save"></span> Save</button>
        </div>
    </div>           
</form>    
    
            
</div>

</html>
